@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

header{
    width: 90%;
    height: 450px;
    background-color: rebeccapurple;
    color: white;
    background-image: url("../images/background-photo.gif");
    background-size: 100% 450px;
    background-position: 0px 0px;
    border-bottom: 5px solid black;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header > section.upper-header{
    width: 90%;
    font-size: 25px;
    margin: 10px auto 0px auto;
    padding: 5px 5px 5px 0px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header section.upper-header div.log-in{
    color: black;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

header i{
    padding: 0px 5px 0px 0px;
    transform: translateY(2px);
}

header section.lower-header p{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    color:burlywood;
    font-size: 30px;
    font-weight: bold;
}
